@import "./colors.scss";
@import "./fonts.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.06);
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  line-height: 1;
}

html,
body,
textarea,
input,
button {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased !important;
}

body {
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  scroll-behavior: smooth;

  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  display: flex;
  flex-direction: column;

  background: $gray-color-700;
  color: $gray-color-100;

  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;

  transition:
    filter 0.2s,
    opacity 0.2s,
    cursor 0.2s;
  cursor: pointer;

  &:not(:disabled):hover {
    filter: brightness(0.8);
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

button {
  transition: filter 0.2s;
  cursor: pointer;

  &:not(:disabled):hover {
    filter: brightness(0.8);
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

@media (max-width: 850px) {
}
