@import '@/styles/colors.scss';

.headerContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  gap: 2rem;
  padding: 3rem 8rem;

  nav {
    ul {
      display: flex;
      align-items: center;

      list-style-type: none;
      gap: 4rem;
    }
  }
}

.loginAnchor {
  color: $green-color-100;
}