@import "@/styles/colors.scss";

.sendMessagesContainer {
  display: flex;
  gap: 3rem;
  padding: 3rem 8rem;

  flex: 1;

  .phonesContainer {
    flex: 1;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    .selectFileButton {
      background: $blue-color-100;
      border: none;
      color: $white-color;
      border-radius: 20px;

      font-size: 0.875rem;
      font-weight: 500;

      padding: 1rem 1.3rem;
    }

    .selectedFileContainer {
      display: flex;
      justify-content: space-between;
      gap: 2rem;

      .readFileButton {
      }
    }

    .addPhoneForm {
      display: flex;
      gap: 1rem;

      .input {
        flex: 1;
      }

      .addNewPhoneButton {
        padding: 0rem 3rem;
        border-radius: 20px;
        background: $purple-color-100;
        border: none;
      }
    }

    .phonesList {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .phoneItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        background: $gray-color-500;
        padding: 1rem 1.5rem;
        border-radius: 20px;

        .removePhoneButton {
          background: none;
          color: $red-color-100;
          border: none;
          
          .icon {
            height: 1.2rem;
          }
        }
      }
    }
  }

  .divider {
    color: $gray-color-300;
  }

  .messageForm {
    flex: 1;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    input {
      background: $gray-color-800;
      border-radius: 20px;
    }

    .sendMessagesButton {
      background: $green-color-100;
      border: none;
      color: $white-color;
      border-radius: 20px;

      font-size: 0.875rem;
      font-weight: 500;

      padding: 1rem 1.2rem;
    }
  }
}
