@import '@/styles/colors.scss';

.chatContainer {
  display: flex;
  flex-direction: column;
  
  .formContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
  
    .sendMessageButton {
      border-radius: 20px;
    }
  }
}

