@import '@/styles/colors.scss';

.chatContainer {
  display: flex;
  flex-direction: column;

  flex: 1;
  
  .formContainer {
    display: flex;
    align-items: center;
    gap: 1rem;

    input {
      background: $gray-color-600;
    }
  
    .sendMessageButton {
      border-radius: 20px;
      padding: 1rem;

      border: none;
      background: $purple-color-100;
      color: $white-color;
    }
  }
}

